@charset "UTF-8";

:root{
    --cor-primaria: #FF0099;
    --cor-segundaria: #3D1C31;
    --cor-tres: #FDACE0;
    --branco: #FFFFFF;
    --preto: #000000;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header {
    background-color: var(--cor-primaria);
    display: flex;
    justify-content: space-around;
    align-items: center;
}