@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root{
    --cor-primaria: #FF0099;
    --cor-segundaria: #3D1C31;
    --cor-tres: #FDACE0;
    --branco: #FFFFFF;
    --preto: #000000;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h1, h2, h3, h4 {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-family: normal;
}

body {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}

header {
    background-color: var(--cor-primaria);
    display: flex;
    padding: 1rem;
    align-items: center;
}

#form-buscar{
    flex-grow: 1;
    display: flex;
    justify-content: center;
    position: relative;
}

#buscar {
    flex-grow: 0.75;
    padding: 0.5rem;
    border-radius: 5px;
    border: none;
    outline: none;
}

.icon-link {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 0.5rem;
    text-decoration: none;
    color: var(--preto);
}

#btn-buscar {
    background-color: transparent;
    border: none;
    position: absolute;
    right: 0.5%;
    cursor: pointer;
}

nav{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    text-align: center;
    background-color: var(--cor-tres);
    padding: 0.5rem;
}

nav a:first-child {
    border-right: 1px solid var(--preto);
}

nav a {
    text-decoration: none;
    color: var(--preto);
    font-size: 1.2rem;
}

#banner {
    width: 100%;
    background-image: url('/image/banner.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 590px;
}

#txt-banner {
    position: absolute;
    top: 33%;
    right: 10%;
}

.conteudo h1{
    text-align: center;
    padding: 1rem;
}

.conteudo p{
    text-align: center;
    padding: 1rem;
    font-size: 20px;
}

.card-container {
    display: grid;
    grid-template-columns: repeat(3, 0.4fr);
    gap: 1rem;
}

.card {
    border: 1px solid var(--cor-tres);
    border-radius: 8px;
    background-color: var(--cor-segundaria);
}

.card-img img {
    border-radius: 8px 8px 0 0;
    width: 100%;
}

.card-content {
    color: var(--branco);
    text-align: center;
}

#login {
    margin: auto;
    margin-top: 60px;
    border-radius: 5px;
    width: 400px;
    height: 500px;
    background-color: var(--cor-primaria);
}

#formulario {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3rem;
}

#formulario h1 {
    text-align: center;
    margin-bottom: 15px;
    font-size: 2rem;
}

.campo {
    display: flex;
    flex-direction: column;
    font-size: 20px;
    width: 280px;
}

.campo label {
    display: flex;
    font-size: 23px;
}

.campo input {
    font-size: 15px;
    height: 38px;
    padding: 5px;
    border: none;
    border-radius: 5px;
}

#entrar {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1em;
    width: 50%;
    margin-left: 25%;
    height: 35px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 15px;
    background-color: var(--preto);
    color: var(--branco);
}

button:hover {
    background-color: var(--cor-segundaria);
}

.login-cadastro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 2.3rem;
}

.login-cadastro a {
    text-decoration: none;
    color: var(--preto);
    font-size: 1.3rem;
}

#section-cadastro {
    margin: auto;
    margin-top: 60px;
    border-radius: 5px;
    width: 700px;
    height: 650px;
    background-color: var(--cor-primaria);
}

#div-form {
    padding: 3rem;
    
}

#div-form h1 {
    text-align: center;
    margin-bottom: 15px;
    font-size: 2rem;
}

.div-inputs {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding-top: 1rem;
}

.dados label {
    padding-top: 15px;
    font-size: 20px;
}

.action input[type=submit] {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1em;
    width: 97%;
    margin: 0;
    padding: 0;
    height: 35px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
    background-color: var(--preto);
    color: var(--branco);
}

.section-faq {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 2.5rem;
}

.faq {
    margin-left: 3%;
    width: 75%;
    max-width: 800px;
    color: var(--preto);
    font-weight: 500;
}

.faq h1 {
    padding-bottom: 10px;
}

section details summary {
    background-color: var(--cor-primaria);
    padding: 2%;
    border-bottom: 2px solid var(--preto);
    border-radius: 5px;
}

section details p {
    background-color: var(--preto);
    color: var(--branco);
    padding: 5px;
    font-size: 0.9em;
    border-radius: 5px;
}

#faq-duvida{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 3rem;
}

#img {
    width: 66%;
    border-radius: 100%;
}


#contato {
    text-align: center;
}


.contact-link {
    display: flex;
    align-items: center;
    background-color: var(--cor-primaria);
    border-radius: 15px;
    padding: 10px;
}


.contact-link img {
    width: 50px;
}

#link-tel {
    text-decoration: none;
    color: var(--preto);
    font-weight: bold;
    margin-left: 30px;
}


.sobre {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 2rem;
}


.text {
    max-width: 60%;
}


.text p {
    font-size: 1.2rem;
    text-align: justify;
    margin-right: 3rem;
}


.text div {
    font-size: 1.2rem;
    text-align: justify;
    margin: 1rem 3rem 0 0;
}


#div-sobre {
    text-align: center;
    width: 25%;
    margin-top: 4%;
}


#div-sobre > img {
    width: 100%;
    max-width: 380px;
    border-radius: 50%;
}


#div-sobre > div {
    margin-top: 10px;
}


#icon-sobre > a > img {
    width: 30px;
    height: auto;
}

.categoria h1 {
    text-align: center;
    padding-top: 40px;
    font-size: 2.2rem;
    margin-bottom: 20px;
}

.pag-categoria {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    border-radius: 5px;
    background-color: var(--cor-primaria);
    margin: auto;
    width: 70%;
}

.item {
    display: flex;
    padding: 10px;
    justify-content: center;
    align-items: center;
}

.item p {
    font-size: 19px;
    margin-right: 10px;
}

.item img {
    width: 30px;
    margin-right: 12px;

}

.ad-categoria {
    grid-column: 2;
    display: flex;
    justify-content: center;
}

.ad-categoria img {
   width: 30px;
   margin-right: 12px;
   margin-bottom: 15px;
}

#main-container {
    display: grid;
    gap: 2rem;
    grid-template-columns: 2fr 10fr;
    justify-content: center;
    padding-right: 9rem;
 
}

#penta {
    clip-path: polygon(51% 96%, 100% 63%, 100% 0, 0 0, 0 62%);
    background-color: var(--cor-tres);
    display: flex;
    justify-content: center;
    height: 100px;
    margin-left: 0;
}

.container {
    display: flex;
    flex-direction: column;
    border-right: 1px solid var(--preto);
}

.checkbox {
   display: flex;
   flex-direction: column;
   justify-content: center;
   margin-left: 30px;
}


.checkbox input {
    margin-right: 1px;
}

.content h1 {
    text-align: center;
    font-size: 2rem;
    margin-top: 2rem;
}

.content p {
    text-align: center;
    font-size: 1.2rem;
}

.cartao {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    margin-top: 3rem;
}

.cartao-recipient {
    border: 1px solid var(--cor-tres);
    border-radius: 8px;
    background-color: var(--cor-segundaria);
}

.card-imagem img{
    border-radius: 8px 8px 0 0;
    width: 100%;
}

.card-text {
    color: var(--branco);
    padding: 3px;
    text-align: center;
}

#perfil {
    display: inline-flex;
    justify-content: center;
    align-items: center;

}

#pefil-menu {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-right: 15rem;
}

#pefil-menu a {
    text-decoration: none;
    font-size: 1.3rem;
    color: var(--preto);
}

#pefil-menu img {
    width: 57px;
    padding: 10px;
    margin-right: 1rem; 

}

#pefil-menu div {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10rem;
}

.form-perfil h1 {
    margin-top: 3rem;
    font-size: 1.7rem;

}
.form-perfil p {
    font-size: 1.1rem;

}

.div-usuario {
    margin-top: 17px;
    border-radius: 5px;
    width: 700px;
    height: 500px;
    background-color: var(--cor-tres);
}

.div-usuario, form {
    display: flex;
    flex-direction: column;
    padding-left: 28px;
}

.label-itens {
    padding-top: 18px;

}

.div-usuario form, label {
    font-size: 1rem;
}

.div-usuario form, a {
    font-size: 0.9rem;
    margin-left: 5px;
    text-decoration: none;
    color: var(--preto);
}

#input-item {
    width: 230px;
    height: 27px;
    border: none;
    outline: none;
    border-radius: 5px;
    opacity: 35%;
}

#btn-salvar {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    margin-top: 1.2rem;
    border: none;
    width: 20%;
    margin-left: 10rem;
    border-radius: 5px;
    background-color: var(--preto);
    color: var(--branco);
    font-size: 1rem;
    font-family:"Oswald", sans-serif;
    font-weight: bold;
}

#btn-salvar:hover {
    background-color: var(--cor-segundaria);
}

.divh1-list {
    margin-top: 40px;
}

.div-list {
    display: inline-grid;
    flex-direction: column;
    border-radius: 5px;
    width: 600px;
    height: 450px;
    margin-top: 10px;
    background-color: var(--cor-tres);
}

.div-list img {
    width: 120px;
    border-radius: 5px;
    margin-right: 14px;
}

.list-p {
    margin-left: 10px;

}

#item-desejo {
    display: inline-flex;
    align-items: center;
    margin-left: 18px;

}

#cd-produto {
    display: grid;
    flex-direction: column;
    justify-content: space-evenly;
}

#cd-produto h1 {
    margin: 40px 0 0 30px;
    font-size: 1.7rem;
    text-align: center;
}

/* #cd-produto p {
    margin-left: 30px;
    font-size: 1.2rem;
} */

.desc-produto {
    display: flex;
    flex-direction: column;
    margin: 35px 0 0 30px;
}

#desc-itens input {
    display: inline-flex;
    margin-left: 8px;
    padding: 5px;
    width: 250px;
    height: 30px;
    border-radius: 3px;
    border: none;
    font-size: 0.9rem;
}

#div-arquivo {
    display: inline-flex;
    align-items: center;
    margin: 30px  0 0 10px;  
}

#div-textarea textarea {
    margin: 32px 0 10px 70px;
    border-radius: 5px;
    font-size: 0.9rem;
}

.quadro {
    border: 1px solid #000;
    padding: 40px;
    display: inline-block;
    margin-top: 20px;
}

.quadro img {
    max-width: 100%;
    height: auto;
}

input[type="file"]{
    display: none;
}

.custom-file-upload {
    display: inline-block;
    padding: 10px 20px;
    cursor: pointer;
    border: 1px solid #ccc;
    background-color: #f0f0f0;
    border-radius: 4px;
    font-size: 1.1rem;
}


.section-pai {

    display: grid;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    padding-top: 50px;
}

#span {
    display: inline-flex;
    justify-content: space-between;
    text-align: center;
    margin-right: 10px;
}

#span h1 {
    display: flex;
    font-size: 1.6rem;
    margin-bottom: 30px;
    margin-left: 24px;
}

#span span {
    display: flex;
    font-size: 1rem;
    background-color: var(--cor-primaria);
    padding: 5px;
    margin-top: 6px;
    border-radius: 7px;
}

.container-produtos {
    display: inline;
    justify-content: center;
    align-items: center;
    padding: 8px;
}

fieldset {
    padding: 10px 10px 10px 10px;
    border: 1px solid var(--preto);
    background-color: var(--cor-primaria);
    border-radius: 5px;
}

legend{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
}

#campo-itens input {
    margin: 15px 0 0 14px;
    padding: 5px;
    width: 20rem;
    height: 30px;
    border-radius: 5px;
    border: none;
}

#blusa {
    display: flex;
   justify-content: space-around;
    
}

#blusa-retrato {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#blusa-retrato img {
    width: 120px;
    margin: 5px;
    border-radius: 5px;
}

#blusa-center {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#blusa-center img {
    width: 450px;
    margin-top: 30px;
    border-radius: 5px;
}


#bulsa-estrela {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3rem;
}

#bulsa-estrela img {
    width: 25px;
}

#circle {
    background-color: var(--cor-primaria);
    color: var(--cor-primaria);
    border-radius: 100%;
}

#blusa-ava {
    display: flex;
    flex-direction: column;
}

#blusa-tam {
    display: flex;
}

#blusa-tam p {
    border: 1px solid var(--preto);
    font-size: 10px;
    border-radius: 100%;
    padding: 4px;
    margin: 7px 0px 10px 0px;
}

#blusa-tam p {
    margin-right: 10px;
}

footer {
    background-color: var(--cor-tres);
    display: flex;
    padding: 1rem 0; /* Remove padding lateral */
    margin-top: 4rem;
    position: relative;
    border-top: 1px solid var(--cor-segundaria);
}

.footer-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 50px 5px 60px 80px;
    width: 100%;

}

.link-menu a, .categoria a, .suporte a {
    display: flex;
    padding-top: 5px;
    text-decoration: none;
    font-size: 1rem;
    color: var(--preto);
}

.link-menu li, .categoria li, .suporte li{
    list-style-type: none;

}

.icon-rodape {
    width: 20px;
    margin-right: 10px;
    padding-top: 4px;
}

.endereco{
    display: flex;
    flex-direction: column; 
}

.endereco address {
    font-size: 0.8rem;
    padding: 0.5rem;
}

.endereco a {
    text-decoration: none;
    font-size: 0.9rem;
    color: var(--preto);
}


.rodape-direito {
    width: 100%;
    background-color: var(--preto);
    padding: 15px;
    margin: 0px;
    text-align: center;
    color: #FFFFFF;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

@media only screen and (min-width: 600px) {
    /* header {
        background-color: var(--cor-primaria);
        display: flex;
        flex-direction: column;
        align-items: ;
    } */
    
}


@media only screen and (min-width: 600px) and (max-width: 120) {

    
}


@media only screen and (min-width: 1200px) and (max-width: 1920) {

    
}

