<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LudoFashion</title>
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>

    <header>
        <a href="index.html"><img src="../image/logo.png" alt="logo do site" width="60px"></a>
        <!-- campo de pesquisa -->
        <form action="" id="form-buscar">
            <input type="search" name="buscar" id="buscar" placeholder="Buscar...">
            <button type="submit" id="btn-buscar"><img src="../image/search.png" alt=""  width="30px"></button>
        </form>
            
           
        <a href="./login.htm" class="icon-link">
            <img src="../image/person.png" alt="pessoa" width="40px">
            Cadastro
        </a>

        <a href="./ajuda.html" class="icon-link">
            <img src="../image/ajuda.png" alt="sinal de interrogação" width="40px">
            Dúvidas
        </a>
              
    </header>
    
    <nav>
        <a href="catalogo.html">Catálogo</a>
        <a href="sobrealoja">Sobre a Loja</a>
    </nav>

    <main>
        <section id="section-cadastro">
            <div id="div-form">
                <h1>Cadastrar</h1>
                <form action="" class="action" method="post">
                    <div class="div-inputs">
                        <div  class="dados">
                            <div class="campo">
                                <label for="nome">Nome</label>
                                <input type="text" name="nome" id="nome" placeholder="seu email" required maxlength="30">
                            </div>

                            <div class="campo">
                                <label for="email">Email</label>
                                <input type="email" name="email" id="iemail" placeholder="sua senha" required minlength="8" maxlength="20">
                            </div>

                            <div class="campo">
                                <label for="cpf">CPF</label>
                                <input type="text" name="cpf" id="cpf" placeholder="sua CPF" required minlength="11" maxlength="11">
                            </div>
                        </div>

                        <div class="dados">
                            <div class="campo">
                                <label for="nomeusuario">Nome de Usuário</label>
                                <input type="text" name="nomeusuario" id="nomeusuario" placeholder="seu nome de Usuário" required maxlength="20">
                            </div>

                            <div class="campo">
                                <label for="telefone">Telefone</label>
                                <input type="tel" name="telefone" id="itelefone" placeholder="seu telefone" required minlength="13" maxlength="13">
                            </div>

                            <div class="campo">
                                <label for="datanasc">Data de Nascimento</label>
                                <input type="date" name="datanasc" id="datanasc" placeholder="sua data de nascimento" required minlength="8" maxlength="8">
                            </div>
                        </div>
                    </div>

                    <input type="submit" value="Entrar">

                    <div class="login-cadastro">
                        <a href=""><img src="../image/google.png" alt="logo google de cadastro" width="40px"></a>

                        <a href="">Salvar</a>
                        <a href="login.htm">Já tem conta?</a>
                    </div>
                </form>

            </div>
        </section>
               
                 
    </main>

    <footer>
        <div class="footer-container">
            <div class="link-menu">
                <h2>LINK</h2>
                <ul>
                    <li><a href="index.html">Home</a></li>
                    <li><a href="perfil.html">Perfil</a></li>
                    <li><a href="catalogo.html">Catálogo</a></li>
                    <li><a href="ajuda.html">Dúvidas</a></li>
                    <li><a href="sobrenos.html">Sobre</a></li>
                    <li><a href="categorias.html">Categoria</a></li>
                </ul>
            </div>

            <div class="categoria">
                <h2>Categorias</h2>
                <ul>
                    <li><a href="">Casual</a></li>
                    <li><a href="">Esportivo</a></li>
                    <li><a href="">Lingeries</a></li>
                    <li><a href="">Social</a></li>
                    <li><a href="">Bolsas</a></li>
                    <li><a href="">Calcinhas</a></li>
                    <li><a href="">Maquiagem</a></li>
                    <li><a href="">Banho</a></li>
                    <li><a href="">Moda Praia</a></li>
                </ul>
            </div>

            <div class="suporte">
                <h2>Suporte e Atendimento</h2>
                <ul>
                    <li><a href="">FAQ</a></li>
                    <li><a href="">Canais de Atendimento</a></li>
                    <li><a href="">Formas de Pagamento</a></li>
                    <li><a href="">Prazo de entrega</a></li>
                    <li><a href="">Promoções</a></li>
                </ul>
                
            </div>

            <div class="endereco">
                <h2>Endereço</h2>
                <address>
                    Rua São Pantaleão, 150, <br>Centro, São Luis - Ma
                </address>

                    <a href="#"><img src="../image/whatsapp.png" alt="whatsapp" class="icon-rodape">WhatsAPP</a>
                    <a href=""><img src="../image/instagram.png" alt="instagram" class="icon-rodape">Instagram</a>
                    <a href=""><img src="../image/facebook.png" alt="facebook" class="icon-rodape">Facebook</a>
                    <a href=""><img src="../image/tiktok.png" alt="tiktok" class="icon-rodape">Tiktok</a>

                    <a href=""><img src="../image/email.png" alt="email" class="icon-rodape">ludofashion@gmail.com</a>
                    <a href=""><img src="../image/local.png" alt="localização" class="icon-rodape">Nossa localização</a>

            </div>

        </div>
        <p class="rodape-direito">&copy; 2024 LudoFashion. Todos os direitos reservados.</p>
    </footer>
</body>
</html>